<!--<p>autor works!</p-->
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
        <header>
                <section>
                    <article>
                        <div id="pos_img">
                            <img id="img_hojavi" src="/assets/img/perfil.jpeg" width="140" height="140">
                            <h2 id="titulo2">HOJA DE VIDA</h2>
                        </div>
                    </article>
                </section>
        </header>
    
        <article id="contenedor">
                <div id="tabla">
                    <h6> <b> DATOS PERSONALES </b> </h6>
                    <p id="texto_cuadro"> <b>Nombre: </b> Nanci Y. Casso Guetio</p>
                    <p id="texto_cuadro"> <b>Fecha Na:</b> 09 - 04 - 1999</p>
                    <p id="texto_cuadro"> <b>Correo: </b> yulianankaso0117@gmail.com</p>
                </div>
    
                <div id="tabla">
                    <h6><b> PASATIEMPO </b> </h6>
                    <p id="texto_cuadro"> <b>1: </b> Salir a entrenar...</p>
                    <p id="texto_cuadro"> <b>2: </b> Salir a jugar futbol...</p>
                    <p id="texto_cuadro"> <b>3: </b> Salir a trotar...</p>
                </div>
    
                <div id="tabla">
                    <h6> <b> ESTUDIOS</b> </h6>
                    <p id="texto_cuadro"> <b>Primaria: </b> 5to de Primaria</p>
                    <p id="texto_cuadro"> <b>Secundaria: </b> Bachiller básico</p>
                    <p id="texto_cuadro"> <b>profesional: </b> N/A en proceso</p>
                </div>
    
                <div id="tabla">
                    <h6> <b> CONTACTO</b> </h6>
                    <p id="texto_cuadro"> <b>Telefono :</b> 3215305865 </p>
                    <p id="texto_cuadro"> <b>Email: </b> yulianankaso0117@gmail.com</p>
                    <p id="texto_cuadro"> <b>Institucional: </b> nanci.casso@unividafup.edu.co</p>
                </div>
        </article>
    
        <article id="contenedor2">
                <div id="cont_descrip">
                    <h6 id="titu_descrp"> <b> Descripción del perfil profesional. </b> </h6>
    
                    <p id="texto"> Estudiante de Ingeniería de Sistemas 9no semestre en la fundación
                        universitaria de Popayán (FUP), Con un técnico de Atencion integral a la primera
                        infacia. Mi interés es adquirir más conocimiento en cuanto a todo lo relacionado con la
                        carreara que actualmente curso.</p>
                </div>
        </article>
    
        <article>
            <div id="Home_button">
                <button [routerLink]="['/heroes']">
                    Heroes
                </button>
    
            </div>
        </article>
    </body>
    
    </html>
